{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container privacy-container text-justify bg-white">
    <div class="col d-flex flex-column align-items-center mt-3">
        <h1 class="title-font text-blue">RETURNS</h1>
        <hr class="w-50 text-center mb-1">
    </div>

    <p>At Guerrier Streetwear, we strive to ensure our customers are completely satisfied with their purchases. If you're not happy with your order, we offer a simple returns process for unworn items with tags still attached within 30 days of purchase.</p>

    <h3>HOW TO RETURN</h3>
    <p>Returns are free! Just follow the instructions below to return your item at no extra cost.</p>

    <h2>FAQ</h2>
    <h3>How do I return an order from Guerrier Streetwear?</h3>
    <p>Guerrier Streetwear customers can easily return their orders by posting them back with a free return label provided by us. For full details, please follow our return instructions included in your order confirmation.</p>
        
    <h3>Can I return a defective or faulty item?</h3>
    <p>If you have received a defective or faulty item, you can return it with valid proof of purchase within two years from the date of purchase.</p>
        
    <p>If you believe your item is faulty and it was delivered within 30 days of purchase, it qualifies for a standard return. If more than 30 days have passed, please contact us to initiate the return process for defective items.</p>
</div>
{% endblock %}
