html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: url('/media/homepage_background_cropped.png') no-repeat center center fixed;
    background-size: cover;
    color: #555;
    font-family: 'Lato', sans-serif;
}

.navbar {
    z-index: 1050;
    position: relative;
}

.dropdown-menu {
    z-index: 1060;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
