<footer id="footer" class="footer bg-white mt-5 py-4">
  <div class="container footer-content">
    <div class="row">
      <div class="col-6 col-md-3 mb-3">
        <!-- About Us section -->
        <h5 class="text-uppercase fw-bold">About Us</h5>
        <ul class="nav flex-column">
          <!-- Links related to the company -->
          <li class="nav-item mb-2"><a href="{% url 'index' %}" class="nav-link p-0 text-dark">Home</a></li>
          <li class="nav-item mb-2"><a href="{% url 'contact' %}" class="nav-link p-0 text-dark">Contact</a></li>
        </ul>
      </div>
      <div class="col-6 col-md-3 mb-3">
        <h5 class="text-uppercase fw-bold">Customer Service</h5>
        <!-- Get Help section -->
        <ul class="nav flex-column">
          <!-- Links related to getting help -->
          <li class="nav-item mb-2"><a href="{% url 'privacy_policy' %}" class="nav-link p-0 text-dark">Privacy Policy</a></li>
          <li class="nav-item mb-2"><a href="{% url 'returns' %}" class="nav-link p-0 text-dark">Returns</a></li>
        </ul>
      </div>
      <div class="col-md-6 mb-3">
        <!-- Newsletter subscription form -->
        <h5 class="text-uppercase fw-bold">Join Our Newsletter</h5>
        <p>Sign up to receive updates on new products, exclusive offers, and streetwear trends.</p>
        <form method="POST" action="{% url 'index' %}">
          {% csrf_token %}
          <div class="input-group mb-3">
            <input type="email" name="email" class="form-control" placeholder="Enter your email address" required>
            <button class="btn btn-dark" type="submit">Subscribe</button>
          </div>
        </form>
      </div>
    </div>
  <!-- Copyright and social media links -->
<div class="d-flex flex-column flex-sm-row justify-content-between pt-4 mt-4 border-top">
  <p>© 2025 Guerrier Clothing. All rights reserved.</p>
  <div>
    <p class="text-center text-sm-start">123 Grafton Street, Dublin 2, Ireland</p>
  </div>
  <ul class="list-unstyled d-flex">
    <li class="ms-3">
      <a class="link-dark" href="https://www.facebook.com/people/Guerrier/61572317841699/" target="_blank" rel="noopener noreferrer" onclick="window.open(this.href, '_blank'); return false;" aria-label="Facebook">
        <i class="fa-brands fa-facebook"></i>
      </a>
    </li>
  </ul>
</div>