<div class="collapse navbar-collapse" id="nav">
    <ul class="navbar-nav w-auto mx-auto d-flex justify-content-start">

        <!-- Clothing Dropdown -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-black font-weight-bold"
               href="#"
               id="clothing-link"
               data-toggle="dropdown"
               aria-haspopup="true"
               aria-expanded="false">
                Clothing
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'shirts' %}" class="dropdown-item">Shirts</a>
                <a href="{% url 'hats' %}" class="dropdown-item">Hats</a>
            </div>
        </li>

        <!-- Homeware Dropdown -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-black font-weight-bold"
               href="#"
               id="homeware-link"
               data-toggle="dropdown"
               aria-haspopup="true"
               aria-expanded="false">
                Homeware
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="#" class="dropdown-item">Mugs</a>
                <a href="#" class="dropdown-item">Coasters</a>
            </div>
        </li>

        <!-- Contact Us Link -->
        <li class="nav-item">
            <a class="nav-link text-black font-weight-bold" href="{% url 'contact' %}">
                Contact Us
            </a>
        </li>
    </ul>
</div>
