<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto d-flex justify-content-start">  
        
        <!-- Clothing Dropdown -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="clothing-link" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
                Clothing
            </a>
            <div class="dropdown-menu" aria-labelledby="clothing-link">
                <a href="#" class="dropdown-item">Shirts</a>
                <a href="#" class="dropdown-item">Hats</a>
            </div>
        </li>

        <!-- Homeware Dropdown -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="homeware-link" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Homeware 
            </a>
            <div class="dropdown-menu" aria-labelledby="homeware-link">
                <a href="#" class="dropdown-item">Mugs</a>
                <a href="#" class="dropdown-item">Coasters</a>
            </div>
        </li>

        <!-- Contact Us Link -->
        <li class="nav-item">
            <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>  
        </li>
    </ul>
</div>

