<div class="d-none d-lg-block">
  <div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav me-auto text-center">
      <a class="navbar-brand" href="{% url 'home' %}">GUERRIER</a>
      <!-- Clothing Dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="clothing-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Clothing
        </a>
        <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
          <a class="dropdown-item" href="{% url 'products' %}?clothing_filter=true">All Clothing</a>
          <a class="dropdown-item" href="{% url 'shirts_view' %}">Shirts</a>
          <a class="dropdown-item" href="{% url 'hats_view' %}">Hats</a>
        </div>
      </li>
      <!-- Homeware Dropdown for Desktop -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="homeware-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Homeware
        </a>
        <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
          <a class="dropdown-item" href="{% url 'products' %}?homeware_filter=true">All Homeware</a>
          <a class="dropdown-item" href="{% url 'mugs_view' %}">Mugs</a>
          <a class="dropdown-item" href="{% url 'coasters_view' %}">Coasters</a>
          <a class="dropdown-item" href="{% url 'skateboard_decks_view' %}">Skateboard Decks</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav text-center">
        <!-- Search form -->
        <form method="GET" action="/products/">
          <div class="input-group w-100">
              <input class="form-control border border-black rounded-0" type="text" name="q" placeholder="Search">
              <div class="input-group-append">
                  <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                      <span class="icon">
                          <i class="fas fa-search" aria-hidden="true"></i>
                      </span>
                  </button>
              </div>
          </div>
      </form>   
      <!-- Wishlist Icon -->
      <li class="nav-item me-3">
        <a class="nav-link" href="{% url 'wishlist:wishlist_home' %}" aria-label="Wishlist">
          <i class="fa-regular fa-heart"></i>
        </a>
      </li>
      <!-- Cart / Bag Icon -->
      <li class="nav-item me-3">
        <a class="nav-link" href="{% url 'bag:view_bag' %}" aria-label="Bag">
          <i class="fas fa-shopping-cart"></i>
        </a>
      </li>
      <!-- Account Icon -->
      <li class="nav-item dropdown me-3">
        {% if user.is_authenticated %}
          <a class="nav-link dropdown-toggle" href="#" id="account-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user"></i>
          </a>
          <div class="dropdown-menu border-0" aria-labelledby="account-link">
            <a class="dropdown-item" href="{% url 'profiles:home' %}">My Profile</a>
            <a class="dropdown-item" href="{% url 'wishlist:wishlist_home' %}">Wishlist</a>
            <a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a>
          </div>
        {% else %}
          <a class="nav-link" href="{% url 'account_login' %}" aria-label="Login">
            <i class="fas fa-user"></i>
          </a>
        {% endif %}
      </li>
    </ul>
  </div>
</div>