<div class="d-lg-none">
  <nav class="navbar navbar-light bg-white">
      <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'home' %}">GUERRIER</a>
          
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mobile-nav" aria-controls="mobile-nav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>

          
<!-- Mobile Navigation Content -->
<div class="collapse navbar-collapse" id="mobile-nav">
    <ul class="navbar-nav">
        <!-- Clothing Dropdown -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="clothing-mobile" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Clothing
            </a>
            <div class="dropdown-menu" aria-labelledby="clothing-mobile">
                <a class="dropdown-item" href="{% url 'products' %}">All Clothing</a>
                <a class="dropdown-item" href="{% url 'shirts_view' %}">Shirts</a>
                <a class="dropdown-item" href="{% url 'hats_view' %}">Hats</a>
            </div>
        </li>
        <!-- Homeware Dropdown -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="homeware-mobile" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Homeware
            </a>
            <div class="dropdown-menu" aria-labelledby="homeware-mobile">
                <a class="dropdown-item" href="#">Mugs</a>
                <a class="dropdown-item" href="#">Coasters</a>
                <a class="dropdown-item" href="#">Skateboard Decks</a>
            </div>
        </li>
    </ul>
</div>
                  {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'profiles:home' %}">My Profile</a>

            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'wishlist:wishlist_home' %}">Wishlist</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'account_login' %}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'account_signup' %}">Register</a>
            </li>
        {% endif %}
    </ul>
</div>
              </ul>
          </div>
      </div>
  </nav>
</div>