{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
    <!-- Main content container -->
    <div class="container h-100">
        <div class="container mb-1 mt-5">
            <div class="row">
                <div class="col">
                    <h2 class="title-font text-center">Edit Review</h2>
                </div>
            </div>
        </div>
        <!-- Edit review form -->
        <div class="col-sm col-md-8 offset-md-2 p-2 my-5 bg-white">
            <form method="post" class="review-form">
                {% csrf_token %}
                <!-- Render form fields using crispy forms -->
                {{ form | crispy }}
                <!-- Submit and cancel buttons -->
                <input class="btn btn-primary my-2 ml-2" type="submit" value="Update">
                <a class="btn btn-outline-black my-2 ml-2" href="{% url 'products' %}">Cancel</a>
            </form>
        </div>
    </div>
{% endblock %}